{% extends 'chat/base.html' %} {% load static %} {% block header%}
<!-- <div class="row"> -->
<!-- <div class="ui-widget">
  <label for="tags">Tag programming languages: </label>
  <input id="tags" size="50">
</div> -->
  <div class="navbar-fixed">
  <nav class="container searchHeader">
      <div class="nav-wrapper fixed">
          <form action="." method="POST">
          {% csrf_token %}
              <div class="input-field">
                  <input id="query" type="search" name="query" value="{{query}}" placeholder="What are you looking for?" required size="10" autocomplete="off">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons closeButton">close</i>
              </div>
          </form>
      </div>
  </nav>
  </div>
{% endblock %} {% block sidebar %} {% endblock %} {% block messages %}
<div class="row container photosDiv">
    {% for image, caption in image_path_list%}
    <div class="col l4 s12">
        <div class="card">
            <div class="card-image">
                <img class="imageCard" src="{{ image }}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} {% block message_typing %}
<script type="text/javascript">
  $('.closeButton').click(function () {
    $("#query").val('');
  })
</script>
{% endblock %}
